*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 81, 173);
}

.wrapper{

    width: 770px;
    padding: 35px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(1, 1, 3);
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid rgb(44, 26, 26);
}

.wrapper .input-field{
    padding: 13px 20px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}

.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 1, 3);

}

.content-box .result-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 140px);

}

.result-details {
    display: flex;
    align-items: center;
    list-style: none;
    height: 20px ;

}

.content button{
    width: 100px; 
    outline: none;
    border: none;
    color: #03010a;
    background: rgb(112, 87, 194);
    padding: 8px 3px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;

} 

.content button:active{
    transform: scale(0.976);
}

.typing-text p span {
   position: relative;

}

.typing-text p span.active{
    color: rgb(189, 0, 0);
}

.typing-text p span.correct {
    color: green;
    
}

.typing-text p span.incorrect {
    color: red;
    outline: 1px solid white;
    background: #ffc0cb;
    border-radius: 4px;
}

::selection{
    color: #fff;
    background: blueviolet;
}